body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: 
      linear-gradient(to bottom, rgba(0, 92, 191, 0.7), rgba(0, 46, 95, 0.7)),
      url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto; 
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  }
  
  h1 {
    text-align: center;
    color: #000; 
    font-family: 'Kaushan Script', cursive; 
  }
  
  #category-select {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
  }
  
  #prompt-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s; 
  }
  
  #prompt-btn:hover {
    background-color: #0056b3; 
  }
  
  #prompt {
    font-size: 20px;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  #essay {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    resize: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  #submit-form {
    text-align: center;
  }
  
  #submit-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #submit-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }